<h3 class="task-header">
  Nueva tarea
</h3>

<%= link_to 'Atrás', tasks_path, class: ['action-button', 'back-button'] %>

<%= link_to 'Salir', destroy_user_session_path, method: :delete, class: ['action-button', 'log-out-button'] %>

<%= render 'form', task: @task, readonly: false %>
