<!--<h1 class="task-header">
  iTasks
</h1> -->

<div class="user-session-buttons">
  <%= link_to 'Registrate', new_user_registration_path, class: ['action-button', 'sign-up-button'] %>
  <%= link_to 'Iniciar Sesión', new_user_session_path, class: ['action-button', 'log-in-button'] %>
</div>
